<app-card titulo="Primeiro Commponente" cor="#3D4D63">

</app-card>

<app-card titulo="Aprofundando o conhecimento em templates" cor="#3D4D63">
  <app-segundo-componente></app-segundo-componente>
</app-card>


<app-card titulo="Pipe" cor="#BFB9AA" >
  <app-pipe-custumizado ></app-pipe-custumizado>
</app-card>

<app-card titulo="two-way-data-binding" cor="#F2D096">
  <app-two-way-data-binding></app-two-way-data-binding>
</app-card>


<app-card titulo="Renderizando-listas" cor="#ED8975">
  <app-renderizando-listas></app-renderizando-listas>
</app-card>


<app-card titulo="Componentes personalizados (Input)" cor="#FFE3DC">
  <app-componente-personalizado nome="Patrícia"sobrenome="Pausini"></app-componente-personalizado>
  <app-componente-personalizado nome="Renata"sobrenome="Pausini"></app-componente-personalizado>
</app-card>

<app-card titulo="Compartilhando dandos entre componentes" cor="#A2AD91">
  <app-componente-pai></app-componente-pai>
</app-card>


<app-card titulo="Serviços" cor="#3A2D32">
  <app-exemplo-servico1></app-exemplo-servico1>
  <app-exemplo-servico2></app-exemplo-servico2>
</app-card>


<app-card>
  <app-ciclo-de-vida></app-ciclo-de-vida>
</app-card>


<app-card titulo="Ciclo de vida">
  <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>

